.main-svg {
  display: block;
  margin: auto;
}

#log-button,
#dropdown-button,
#dropup-button {
  cursor: pointer;
}

#mid-container {
  position: relative;
  // max-width: 500px;
  // display: block;
  // margin: auto;
}
