html,
body {
  //   background: white;
  // height: 100000px;
}

$red-fill: #ff5050;
@keyframes glowing {
  0% {
    fill: $red-fill;
  }
  50% {
    fill: black;
  }
  100% {
    fill: $red-fill;
  }
}

#soundcloud,
#spotify,
#bandcamp {
  animation: glowing 5000ms infinite;
  cursor: pointer;
}

button,
#pause,
#play,
#player-close,
#pick-device,
.device {
  cursor: pointer;
}

.playing {
  fill: #59ffc5 !important;
}

.device-box-container {
  position: absolute;
  padding: 11px 15px 5px;
  background: #8a8eff;
  border-radius: 5px;
  text-align: "center";
  font-family: Arial;
}

.bottom-notch {
  position: absolute;
  left: 38%;
  width: 40px;
  bottom: -10px;

  polyline {
    fill: #8a8eff !important;
  }
}

// this is the actual slider
.slider {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 10px;
  opacity: 0;
}

// this is the slider icon
#slider {
  position: absolute;
  display: "none";
}
