html,
body {
  margin: 0;
  background: black;
}
@font-face {
  font-family: "Stolzl Display";
  src: url("../fonts/Stolzl Display.otf") format("opentype");
}
@font-face {
  font-family: "Stolzl Display";
  font-weight: bold;
  src: url("../fonts/Stolzl Display Bold.otf") format("opentype");
}

.layout {
  max-width: 800px;
  margin: auto;
}
