.player {
  position: sticky;
  bottom: 0;
  width: 100%;
  background: violet;

  svg {
    // transform: translate(0, 15px);
  }
}

#next-button,
#prev-button,
#play-button,
#pause-button {
  cursor: pointer;
}
