.playlist-container {
  // overflow-y: scroll;
  width: 80%;
  padding: 1rem;
}

.track {
  font-family: "Stolzl Display";
  font-size: 1.1rem;
  margin: 0rem 1.6rem 1rem;

  @media screen and (min-width: 768px) {
    font-size: 1.6rem;
    margin: -0.4rem -1rem 1rem;
    cursor: pointer;
  }
}

.playing {
  color: #26e1ff;
}

// @media screen and (min-width: 768px) {
//   .track {
//     font-size: 1.6rem;
//     margin: -0.4rem -1rem 1rem;
//   }
// }
