.popup {
  font-family: Stolzl Display;
  color: black;
  position: fixed;
  top: 50%;
  left: 50%;
  background: white;
  padding: 1rem;
  font-size: 1.5rem;
  width: 50%;
  z-index: 9999;

  @media screen and (max-width: 768px) {
    width: 80%;
  }
}
.popup-header {
  text-align: center;
  font-weight: bold;
  user-select: none;
}
.device {
  cursor: pointer;
  text-align: center;
  margin: 10px auto;

  &:hover {
    color: lime;
  }
}
